body{
    background-image: url(./image//main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 380px;
    background-color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}
.container h1{
    margin-bottom: 20px;

}

input,button{
    width: 100%;
    height: 42px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
input{
    padding-left: 10px;
    border: 1px solid #ccc;
}
button{
    background-color: green;
    color: #fff;
    border: none;
    
}
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 25px;
    }

    input {
        font-size: 13px;
        height: 42px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
@media (max-width: 550px) {
    .container {
        width: 70%;
        padding: 25px;
    }

    input {
        font-size: 13px;
        height: 42px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}