@media(max-width :600px){
    .pages{
        display: none;

    }
.courses{
    grid-template-columns: 1fr;
}
.platform-container{
    grid-template-columns: 1fr;
    gap: 20px;

    
}
.home{
    text-align: center;
}
.home h1{
    font-size: 50px;
}
.footer-container{
    display: block;
    text-align: center;
}
.get-started h1{
    text-align: center;
}
.roadmap-btns a{
    font-size: 10px;


}
.get-btn{
    display: flex;
    justify-content: center;
}
/* .over-view-container{
background-color: white;
} */


.home{
   background-image: url(./image/main.png);
}
.footer-container p{
    text-align: center;
}

}
@media(max-width :700px){
   
.courses{
    grid-template-columns:repeat(2,1fr)
}
.over-view-container p{
    text-align: center;
}
.over-view-container h1{
    text-align: center;
}


}



@media(max-width:668px){
    .roadmap-btns a{
    font-size: 10px;


}
}

@media (max-width:992px){
    .courses{
    grid-template-columns:repeat(2,1fr) ;
    gap: 15px;
    }
}






