@media(max-width :600px){
    .pages{
        display: none;

    }
    .navbar {
    padding: 10px;
  }
.courses{
    grid-template-columns: 1fr !important;
}
.platform-container{
    grid-template-columns: 1fr;
    gap: 20px;
}
.home{
    text-align: center;
    background-position: center;
}
.home h1{
    font-size: 50px;
    margin-top: -150px !important;
}
.footer-container{
    display: block;
    text-align: center;
}
.get-started h1{
    text-align: center;
}
.roadmap-btns a{
    font-size: 10px;


}
.get-btn{
    display: flex;
    justify-content: center;
}
.fa-bars{
  display: block !important;
}
.nav-btns a{
  display: none !important;
}


.home{
   background-image: url(./image/main.png);
}
.footer-container p{
    text-align: center;
}

}
@media(max-width :700px){
   
.courses{
    grid-template-columns:repeat(2,1fr)
}
.over-view-container p{
    text-align: center;
}
.over-view-container h1{
    text-align: center;
}


}

@media (max-width:750px){
  .pages{
    display: none;
  }
  .get-btn{
    display: flex;
    justify-content: center;
  }
  .home h1,p{
    text-align: center;
  }
}

@media(max-width:668px){
    .roadmap-btns a{
    font-size: 10px;


}
.pages{
  display: none;
}
}

@media (max-width:992px){
    .courses{
    grid-template-columns:repeat(2,1fr) ;
    gap: 15px;
    }
}
@media (max-width:375px){
  .over-view-container p{
    width: auto;
  }
  .nav-btns a{
    display: none;
  }
  .roadmap-btns a{
    font-size: 5px;
  }


  
}







