@media(max-width :600px){
    .pages{
        display: none;

    }
    .navbar {
    padding: 10px;
  }
.courses{
    grid-template-columns: 1fr !important;
}
.platform-container{
    grid-template-columns: 1fr;
    gap: 20px;
}
.home{
    text-align: center;
    background-position: center;
    background-position: bottom;
    padding: 100px auto;
}

.home h1{
    font-size: 50px;
}
.footer-container{
    display: block;
    text-align: center;
}
.get-started h1{
    text-align: center;
}
.roadmap-btns a{
    font-size: 10px;


}
.navbar #menu-btn{
  display: block;
  font-size: 24px;
    cursor: pointer;
}
.nav-btns a{
  display: none;
}
.overview h1{
    margin-left: 10px;
}

.home{
   background-image: url(./image/main.png);
}
.footer-box p{
  margin: 20px auto;
}
}
@media(max-width:750px){
  .navbar #menu-btn{
  display: block;
  font-size: 24px;
    cursor: pointer;
}
.nav-btns a{
  display: none;
}
}
@media(max-width :700px){
   
.courses{
    grid-template-columns:repeat(2,1fr)
}
.over-view-container p{
    text-align: center;
}
.over-view-container h1{
    text-align: center;
}
.home{
   background-image: url(./image/main.png);

}

}
@media(max-width:690px){
  .roadmap-btns a{
    font-size: 10px;
  }
}
@media(max-width:493px){
  .roadmap-btns a{
    font-size: 8px !important;
    padding: 5px;
  }
}

@media (max-width:750px){
  .pages{
    display: none;
  }
  .get-btn{
    display: flex;
    justify-content: center;
  }
  .home h1,p{
    text-align: center;
  }
}

@media(max-width:668px){
    .roadmap-btns a{
    font-size: 10px;


}
.pages{
  display: none;
}
}

@media (max-width:992px){
    .courses{
    grid-template-columns:repeat(2,1fr) ;
    gap: 15px;
    }
}
@media (max-width:900px){
   .footer-container{
    display: block;
    text-align: center;
   }
   .footer-box p{
  margin:20px auto;
}
}
@media (max-width:850px){
    .home h1{
      font-size: 50px;
    }
    .home p{
      margin-bottom: 20px;
    }
}
@media (max-width:493px){
  .roadmap-btns a{
    font-size: 10px;
  }
}
@media (max-width:375px){
  .over-view-container p{
    width: auto;
  }
  .nav-btns a{
    display: none;
  }
  .roadmap-btns a{
    font-size: 5px !important;
  }



  
}
@media (max-width:480px){
   .get-started h1{
    font-size: 30px;
   }
}







