@media (max-width: 480px) {
    .signup-container {
        width: 90%;
        padding: 25px;
    }

    input {
        font-size: 13px;
        height: 42px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
@media (max-width: 550px) {
    .signup-container {
        width: 70%;
        padding: 25px;
    }

    input {
        font-size: 13px;
        height: 42px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}