*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    margin: auto;
    
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F172A;

    
}
.logo{
    height: 60px;
    width: 70px;
    background-color: bl;


}


.nav_items{
    display: flex;
    gap: 80px;
    align-items: center;
}
.pages{
    display: flex;
    gap: 80px;
}
.login{
    margin-right: 20px;
    background-color: green;
    border-radius: 5px;
}
.login:hover{
    background-color: #45A049;
}
.nav_items  a{
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-style:roboto ;
    /* border-radius: 5px; */


}
.nav_items  a:hover{
    border-bottom: 3px solid white;
    
}
.home{
    background-image:url("./image/A1.png");
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home h1{
    color: white;
    padding-top: 200px;
    font-size: 80px;

}
.home p{
    color: white;
}