*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    background-color: #0F172A;
    
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F172A;
    padding: 10px;

    
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.logo h1{
    color: #fff;
}
.logo-img{

    height: 30px;
    display: block;

}


.nav_items{
    display: flex;
    gap: 80px;
    align-items: center;
}
.pages {
  display: flex;
  gap: 60px;

}

.pages a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding-bottom: 5px;
  border: 3px solid white;
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

.pages a::after {
  content: '';
  position: absolute;
  left: 50%;                   
  bottom: 0;
  width: 0;                     
  height: 3px;                 
  background-color: white;
  transition: width 0.3s ease;  
  transform: translateX(-50%);  
}

.pages a:hover::after {
  width: 100%;                  
}

.nav-btns a{
    margin-right: 10px;
    background-color: green;
    border-radius: 5px;
    border: 5px solid black;
    padding: 10px 12px;
    font-size: 20px;
    color: white;
    border: none;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.nav-btns a:hover{
    background-color: #45A049;
}



.home{
    background-image:url("./image/A1.png");
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home h1{
    color: white;
    padding-top: 200px;
    font-size: 80px;

}
.home p{
    color: white;
}