*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    background-image: url(./image/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    position: sticky;
    top:0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E3A5F;
    padding: 10px 20px;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo h1{
    color: #fff;
}
.logo-img{

    height: 30px;
    display: block;

}


.nav_items{
    display: flex;
    gap: 20px;
    align-items: center;
    min-width: 0;
}
.pages {
  display: flex;
  gap: 20px;
  min-width: 0;
}

.pages a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding-bottom: 5px;
  font-size: 20px;
  color: white;
  border: none;
  padding: 5px;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

}

.pages a::after {
  content: '';
  position: absolute;
  left: 50%;                   
  bottom: 0;
  width: 0;                     
  height: 3px;                 
  background-color: #F97316;
  transition: width 0.4s ease;  
  transform: translateX(-50%);  
}

.pages a:hover::after {
  width: 100%;                  
}

.nav-btns a{
    margin-right: 10px;
    background-color: #F97316;
    border-radius: 5px;
    border: 5px solid black;
    padding: 10px 12px;
    font-size: 20px;
    color: white;
    border: none;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: auto;
}
.nav-btns .log{
    background-color: white;
    color: black;
}
.nav-btns a:hover{
    background-color: #45A049;
}

.home{
    background-image:url("./image/hero.png");
    height: 700px;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.home h1{
    color: white;
    font-size: 70px;
    margin-left: 50px;
    padding-top: 220px;

}
.home h1 span{
    color: #4ADE80;
}
.get{
    margin-left: 50px;
    padding: 12px ;
    background-color: #F97316;
    width: 150px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.home p{
    color: white;
    margin-left: 50px;
}
.overview{
    padding: 20px;
    display: flex;
    justify-content: space-between;
 
}
.over-view-container{
    background-image: url(./image/MERN_Stack.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;  
    width: 95%;
    margin: auto;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.over-view-container p{
    text-align: center;
}
.overview h1{
    margin-left: 10px;
    padding-left: 80px;
}
.overview p{
    width: 500px;
    padding: 50px;
}
.roadmap-btns{
    width:50%;
    margin: 30px auto;
     display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding: 20px;

}


.road-map h1{
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}


.road-map-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: #fff;
    width: 65%;
    margin:20px auto;
}
.mongo{
    height: 50px;
    width: 50px;
    margin: 20px;
}
.final{
    height: 50px;
    width :50px
}
.fa{
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background: transparent;
}

.ro{
    text-align: center;
    width: 150px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ro p,h2{
    white-space: nowrap;
}
.fa-solid{
    color: #fff;
    padding: 10px;
}
.ro h2{
    font-size: 20px;
}
.ro h1{
    font-size: 20px;
}


.cards{
    display: grid;
    grid-template-columns:repeat(4,250px);
    gap: 20px;
    width: 80%;
    margin: auto;

}
.contents{
    margin: 50px auto;
}
.contents h1{
    text-align: center;
    color: #fff;
    margin: 20px auto;
}
.card{
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

}
.card a{
    background-color: #0F172A;
    padding: 12px 10px;
    color: white;
    border-radius: 15px;
    width: 60%;
    margin: 12px 10px;
    display:block;
    margin: 10px auto;
    text-decoration: none;
}
.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px ;
}
.get-started h1{
    color: #fff;
}
.get-started a{
    margin-left: -10px;
}
.footer{
color: #fff;
    background-color: navy;

}
.footer-container{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-bottom{
    text-align: center;
    padding: 50px;
}
.footer-box ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    margin-top: 20px;
}
.footer-box ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-logo a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer-logo a img{
    height: 30px;
}
.mern{
  width: 90%;
  margin: 40px auto;
}

.path{
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}


.courses{
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 25px;
}


.course{
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course h1{
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}


.course a{
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}
.course .download,
.course a:last-child{
  display: block;
  width: fit-content;
  margin: 12px auto 0 auto; 
  padding: 8px 14px;
  background: #ff6b00;
  color: white;
  border-radius: 8px;
  text-align: center;
}
.platform {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.platform h1 {
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-bottom: 40px;
}


.platform-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    width: 90%;
    gap: 30px;   
    max-width: 1200px;
    margin: auto;
}


.study {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.study-h {
    margin-bottom: 10px;
    text-align: center;
}

.study-h h2{
    font-size: clamp(18px, 2.5vw, 22px);
}

.study-p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}


.pp {
    padding-left: 20px;
    margin: 0;
}


.fa-check {
    color: #28a745; 
    margin-right: 5px;
}


