*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    /* background-color: #0F172A; */
    background-image: url(./image/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E3A5F;
    padding: 10px;

    
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.logo h1{
    color: #fff;
}
.logo-img{

    height: 30px;
    display: block;

}


.nav_items{
    display: flex;
    gap: 80px;
    align-items: center;
}
.pages {
  display: flex;
  gap: 60px;

}

.pages a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding-bottom: 5px;
  font-size: 20px;
  color: white;
  border: none;
  padding: 5px;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

}

.pages a::after {
  content: '';
  position: absolute;
  left: 50%;                   
  bottom: 0;
  width: 0;                     
  height: 3px;                 
  background-color: #F97316;
  transition: width 0.4s ease;  
  transform: translateX(-50%);  
}

.pages a:hover::after {
  width: 100%;                  
}

.nav-btns a{
    margin-right: 10px;
    background-color: #F97316;
    border-radius: 5px;
    border: 5px solid black;
    padding: 10px 12px;
    font-size: 20px;
    color: white;
    border: none;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.nav-btns .log{
    background-color: white;
    color: black;
}
.nav-btns a:hover{
    background-color: #45A049;
}



.home{
    background-image:url("./image/hero.png");
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.home h1{
    color: white;
    font-size: 70px;
    margin-left: 50px;
    padding-top: 220px;

}
.home h1 span{
    color: #4ADE80;
}
.get{
    margin-left: 50px;
    padding: 12px ;
    background-color: #F97316;
    width: 150px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.home p{
    color: white;
    margin-left: 50px;
}
.overview{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.overview h1{
    color: white;

}
.overview p{
    width: 700px;
}
.overview img{
    width: 500px;
}
.cards{
    display: grid;
    grid-template-columns:repeat(4,250px);
    gap: 20px;
    width: 80%;
    margin: auto;

}
.contents{
    margin: 50px auto;
}
.contents h1{
    text-align: center;
    color: #fff;
    margin: 20px auto;
}
.card{
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    /* height: 150px; */
    padding: 10px;

}
.card a{
    background-color: #0F172A;
    padding: 12px 10px;
    color: white;
    border-radius: 15px;
    width: 60%;
    margin: 12px 10px;
    display:block;
    margin: 10px auto;
    text-decoration: none;
}
.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px ;
}
.get-started h1{
    color: #fff;
}
.get-started a{
    margin-left: -10px;
}
.footer{
color: #fff;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.footer-bottom{
    text-align: center;
    padding: 50px;
}
.footer-box ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    margin-top: 20px;
}
.footer-box ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-logo a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer-logo a img{
    height: 30px;
}